body {
	padding: 0px;
	margin: 10px 0px 0px 0px;
}
h1 {
	width: 250px;
	float: left;
}
#container a {
	padding: none;
	margin: none;
	float: left;
}
#container {
	margin: 10px 5px 0px 5px;
	padding: 10px 0px 10px 10px;
	background: #131313;
	float: left;
	width: 550px;
	height: 100%;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
}
#image {
	float: left;
	margin-right: 10px;
}
img {
	width: 150px;
	height: 125px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
}
#name {
	float: left;
	font-size: 16px;
	font-weight: bold;
	width: 300px;
	padding-bottom: 3px;
	float: left;
}
#location {
	color: #FF7E00;
	float: left;
	font-size: 14px;
	height: 14px;
	font-weight: bold;
	width: 300px;
	padding-bottom: 5px;
}
#styles {
	float: left;
	width: 300px;
	height: 14px;
	padding-bottom: 10px;
}
#info {
	width: 350px;
	padding-right: 5px;
	float: left;
	height: 45px;
	white-space: normal;
}
#links {
	float: left;
}
#close {
	padding: 1px 5px 3px 5px;
	margin: 3px 10px 0px 0px;
	border: none;
	background: #FFFFFF;
	color: #131313;
	float: right;
	font-weight: bold;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	cursor: pointer;
}
#close:hover {
	background: red;
	color: #FFFFFF;
}