/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* AFTER RESET */
body {
	overflow: auto;
	overflow-y: scroll;
	background-color: #282828;
	background-image:url(../../resident-area/images/bk.jpg);
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #FFFFFF;
	line-height: 18px;
}
b {
	font-weight: bold;
}
#siteAlign {
	margin: 10px auto 0px auto;
	width: 970px;
}
#container {
	margin-left: 52px;
	float: left;
	background: url(../images/trans.png);
	border: #222222 1px solid;
	padding: 5px;
}
#page {
	border:#000000 1px solid;
	background-color: #282828;
	width: 863px;
	float: left;
	padding: 10px;
	padding-bottom: 20px;
	border: #222222 1px solid;
}
#header {
	height: 220px;
	width: 100%;
	float: left;
	background: url(../images/resident-area.png) no-repeat;
}
#logout {
	text-align: right;
	margin-left: 57px;
	height: 137px;
	width: 883px;
	padding-left: 0px;
	border-bottom: #FCAC00 1px solid;
}
#headLine {
	margin-left: 57px;
	border-top: #FF7E00 2px solid;
	width: 883px;
	float: left;
}
#copyRight {
	margin-left: 67px;
	color:  #CCCCCC;
	font-size: 11px;
	padding: 10px 0px 20px 0px;
	float: left;
	font-weight: normal;
	width: 940px;
}
#copyRight a {
	color:  #FF7E00;
	text-decoration: none;
	padding: 3px 3px 2px 3px;
}
#copyRight a:hover {
	color:  #282828;
	padding: 3px ;
	background: #FF7E00;
}
.buttons{
	font-size: 12px;
	padding: 1px 5px 3px 5px;
	margin: 3px 3px 0px 0px;
	border: none;
	background: #FFFFFF;
	color: #131313;
	float: left;
	font-weight: bold;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	text-shadow: 0px 0px 0px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=0);
	cursor: pointer;
}
.buttons:hover {
	background: #FF7E00;
	color: #FFFFFF;
}
.off {
	cursor: progress;
	filter:alpha(opacity=30); 
	-moz-opacity: 0.3; 
	opacity: 0.30;
}
.on {
	background: #FF7E00;
	color: #131313;
}
.on:hover {
	background: red;
	color: #131313;
}
.off:hover {
	background: #FFFFFF;
	color: #131313;
}
span {

}
#close {
	font-size: 12px;
	padding: 1px 5px 3px 5px;
	margin: 110px 0px 0px 0px;
	border: none;
	background: #FFFFFF;
	color: #131313;
	float:right;
	font-weight: bold;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	cursor: pointer;
}
#close:hover {
	background: red;
	color: #FFFFFF;
}
.box {
	padding: 10px;
	background: #131313;
	float: left;
	margin: 0px 5px 5px 0px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	text-shadow: 1px 1px 1px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
}
.bar1 {
	width: 100%;
	float: left;
	margin-bottom: 5px;
}
.col1 {
	height: 277px;
	width: 425px;
	float: left;
	margin-bottom: 5px;
	overflow:scroll;
	overflow-x: hidden;
	-ms-overflow-x: hidden;
	background: #333333;
}
.col2 {
	height: 277px;
	width: 425px;
	float: left;
	padding-right: 7px;
	margin-bottom: 5px;
	font-size: 12px;
}
.showname {
	width: 640px;
}
.dashboardNOTE {
	width: 857px;
}
.time {
	float: left;
	width: 230px;
}
.option {
	font-weight: normal;
	color: #888888;
	float: left;
	width: 100px;
}
.value {
	float: left;
	width: 40px;
	padding-right: 5px;
}
b {
	color: #FF7E00;
	font-weight: bold;
}

#shout {
	width: 300px;
}
#loginBox {
	background: url(../images/login-logo.png) no-repeat;
	height: 300px;
	width: 300px;
	padding: 100px 0px 0px 100px;
	margin: 100px auto;
}
.manage {
	width: 500px;
	float: left;
	text-align: left;
}
h1 {
	margin-top: 20px;
	margin-bottom: 5px;
	float: left;
	color: #FF7E00;
	font-weight: bold;
}
#loginBox a {
	color: #FFFFFF;
	font-size: 9px;
	text-decoration: none;
	margin-left: 30px;
}
#loginBox a:hover {
	background-color: #FF7E00;
}
#intro {
	width: 600px;
	float: left;
}
p {
	font-size: 12px;
	float: left;
	padding-bottom: 10px;
}
label {
	font-size: 12px;
	float: left;
	width: 100%;
	padding-top: 0px;
}
select {
	float:left;
	margin-top: 5px;
	width: 190px;
	margin-bottom: 10px;
	margin-right: 5px;
}
input {
	float:left;
	margin-top: 4px;
	margin-bottom: 10px;
	width: 150px;
}
textarea {
	float:left;
	margin-top: 4px;
	margin-bottom: 10px;
	width: 150px;
}
#info {
	width: 500px;
}
button {
	float:left;
	margin-top: 3px;
	width: 150px;
	cursor: pointer;
}
#loginBox button {
	margin-left: 28px;
	width: 100px;
	float: left;
}
form {
	float: left;
	padding-bottom: 5px;
	width: 100%;
}
#loginBox form {
	width: 160px;
}
a {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
a {	
	color: #FF7E00;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
a:hover {
	color: #fff;
	background: #FF7E00;
}
#showForm {
	width: 500px;
	float: left;
}
#showtitled {
	float: left;
}
.hosted {
	font-weight: normal;
	font-size: 12px;
	line-height: 9px;
	padding: 0px;
	margin: 0px;
}
.normal {
	font-weight: normal;
	text-align: center;
}
.times {
	width: 60px;
	text-align: center;
}
#alllove {
	margin-left: 5px;
}
.shoutbit {
	font-size: 12px;
	width: 364px;
	margin-bottom: 5px;
}

.schedbit {
	font-size: 12px;
	width: 394px;
	margin-bottom: 5px;
}
.schedbit b {
	color: #FFFFFF;
}
.schedbit strong {
	font-weight: normal;
}

.shoutqus {
	font-size: 12px;
	text-align: left;
	float: left;
	padding-right: 5px;
	width: 65px;
}
.shoutit {
	font-size: 12px;
	width: 260px;
	font-weight: normal;
	text-align: left;
	float: left;
}
.coltime {
	padding: 0px;
	margin: 0px;
	float: right;
	font-weight: bold;
}
.shoutclose {
	float: right;
	padding: 0px;
	margin: 0px;
	width: 5px;
	height: 10px;
	text-align: right;
}
.when {
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	text-shadow: 1px 1px 1px #FFFFFF;
	filter: dropshadow(color=#FFFFFF, offx=1, offy=1);
}
.shoutip {
	font-size: 12px;
	width: 100px;
	float: left;
	font-weight: normal;
	padding-right: 10px;
	filter:alpha(opacity=50); 
	-moz-opacity: 0.5; 
	opacity: 0.50;
}

.shouttime {
	font-size: 12px;
	width: 40px;
	float: left;
	font-weight: normal;
	padding-right: 5px;
	filter:alpha(opacity=50); 
	-moz-opacity: 0.5; 
	opacity: 0.50;
}
.shoutqusDs {
	font-size: 12px;
	text-align: left;
	float: left;
	padding-left: 70px;
	padding-right: 7px;
	filter:alpha(opacity=50); 
	-moz-opacity: 0.5; 
	opacity: 0.50;
	
}
.shoutqusD {
	font-size: 12px;
	text-align: left;
	float: left;
	padding-left: 0px;
	padding-right: 5px;
	filter:alpha(opacity=50); 
	-moz-opacity: 0.5; 
	opacity: 0.50;
}
.infobox {
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	text-shadow: 1px 1px 1px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
	background: #333333;
	width: 310px;
	padding: 10px;
	margin: 0px 5px 5px 0px;
	float: left;
}
#news {
	width: 500px;
}
.infobox h1 {
	padding: 0px;
	margin: 0px;
	float: left;
	width: 200px;
	text-shadow: 1px 1px 1px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
}
.infobox h1 b {
	color: #fff;
}
.image {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	border-top-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-left-radius: 7px;
}
#rank {
	float: right;
}
.formList {
	width: 800px;
	float: left;
}
.rightList1 {
	width: 200px;
	float: left;
}
.rightList2 {
	width: 200px;
	float: left;
}
.rightList3 {
	width: 300px;
	float: left;
	margin-left: 300px;
}
#setschedule p {
	width: 150px;
}
.tick {
	width: 15px;
	float: left;
}
.smallList {
	width: 70px;
	float: left;
}
#adminSchedule {
	float: left;
	width: 100%;
}
#mainButton {
	width: 200px;
}
h6 {
	font-size: 11px;
	color: red;
	height: 13px;
	padding: 0px 0px 2px 25px;
	font-weight: bold;
}
#dashboard #siteAlign {
	margin: 0px;
}
#dashboard #container {
	margin: 5px;
	width: 775px;
	height: 575px;
}
#dashboard #page {
	width: 753px;
	height: 543px;
}
#dashboard #top {
	width: 735px;
	height: 35px;
}
#toph1 {
	width: 100%;
}
#dashboard #form {
	width: 220px;
}
#dashboard h1 {
	
}
.show, .show h1 {
	background: #FF7E00;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
}
.show b {
	font-size: 16px;
}
.love {
	width: 50px;
	text-align: center;
	height: 35px;
}
.time {
	width: 70px;
	text-align: center;
	height: 35px;
}
.spacer {
	background: 282828;
	height: 35px;
	width: 108px;
}
.whatson {
	width: 356px;
	text-align: left;
	height: 50px;
	font-size: 12px;
}
.shoutout {
	width: 332px;
	font-size: 12px;
}
.active {
	background: #444444;
}
#shout-out {
	width: 372px;
	height: 350px;
	overflow:scroll;
	overflow-x: hidden;
	-ms-overflow-x: hidden;
}
.shoutout .qus {
	width: 70px;
	font-weight: bold;
	float: left;
}
.shoutout .ans {
	width: 215px;
	float: left;
	color: #999999;
}
.statinfo {
	height: 105px;
}
.gooff {
	float: right;
}
.gooff:hover {
	background: red;
}
#whats-on {
	float: left;
	width: 381px;
}
.whatson b {
	color: #fff;
	font-size: 16px;
}
.whatson p {
	color: #999999;
}
.whatson h6, .shoutout h6 {
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	color: #FF7E00;
	width: 100px;
	height: 17px;
}
.shoutout h6 {
	text-align: right;
	float: right;
	width: 40px;
	margin-right: 0px;
	height: 20px;
}
.shoutout a {
	color: #fff;
	font-size: 20px;
}
.shoutout a:hover {
	
	color: #fff;
}

.endbot {
	margin-bottom: 0px;
}
.end {
	margin-right: 0px;
}
.studiobutton {
	padding-top: 5px;
}
h2 {
	text-shadow: 1px 1px 1px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
	margin: 0px 0px 10px 0px;
}
#liveBoard {
	width: 214px;
	padding: 10px;
}
#liveBoard > div > b {
	color: #FFFFFF;
	font-size: 16px;
}
.onTime {
	float: right;
	text-align: right;
	color: #FFFFFF;
	font-size: 11px;
}
.showInfo {
	background: #131313;
	color: #CCCCCC;
	padding: 5px;
	margin: 5px 0px;
	height: 43px;
	font-size: 12px;
}
.showInfo h4 {
	font-weight: bold;
}
.showInfo h4 a {
	color: #FF7E00;
	padding:1px 0px;
	text-decoration: none;
}
.showInfo h4 a:hover {
	background: #FFFFFF;
	color: #131313;
	padding:1px 0px;
}
.showInfo a {
	color: #FFFFFF;
	padding:1px 0px;
	text-decoration: none;
	font-weight: bold;
}
.showInfo a:hover {
	background: #FF7E00;
	padding:1px 0px;
}
#live {
	text-shadow: 1px 1px 1px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
	color: #FFFFFF;
	background: #FF7E00;
	width: 195px;
	height: 198px;
	padding: 5px 10px 10px 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
}
#live .showInfo {
	height: 170px;
}
#live span {
	float: left;
	border-top: #555555 1px dashed;
	margin:10px 0px 5px 0px;
	height: 50px;
	padding:5px 0px;
}
.button {
	padding: 1px 5px 3px 5px;
	margin: 3px 3px 0px 0px;
	border: none;
	background: #FFFFFF;
	color: #131313;
	float:left;
	font-weight: bold;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	text-shadow: 0px 0px 0px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=0);
	cursor: pointer;
}
.button:hover {
	background: #FF7E00;
	color: #FFFFFF;
}
#onImage {
	float: left;
	margin-right: 5px;
	width: 70px;
	height: 70px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	border-top-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-left-radius: 7px;
}
#loveRefresh a {
	color: #FFFFFF;
}
.love small {
	font-size: 20px;
	line-height: 14px;
}
.pop {
	background: #FF7E00;
}
.pop .ans {
	color: #FFFFFF;
}
.pop b {
	color: #FFFFFF;
}
.pop a:hover {
	color: #FFFFFF;
}
mark {
	font-size: 10px;
	background: none;
	color: #fff;
	float: right;
	margin-top: 15px;
}
.offair {
	margin-left: 40px;
	background: red;
}
.leftfloat {
	float: left;
	width: 100%;
}
.bulledit {
	padding: 2px;
}
.visit {
	color: #fff;
}
strong {
	font-weight: bold;
}
#inStudio {
	background: #131313;
	float: left;
	margin: 0px 0px 5px 0px;
	padding: 10px;
	font-size: 12px;
	width: 310px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	border-top-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-left-radius: 7px;
}
#inStudio b {
	color: red;
	font-size: 16px;
	margin-right: 5px;
}
#inStudio strong {
	color: #fff;
	font-size: 16px;
	margin-right: 5px;
}
#jingles {
	float: left;
	width: 500px;
}
#leftCOL {
	float: left;
	width: 525px;
}
#rightCOL {
	float: left;
	width: 200px;
}
#GoLive {
	width: 320px;
	height: 20px;
	padding-top: 5px;
	margin: 0px 0px 5px 0px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
#charLeft {
	width: 25px;
	float: left;
	margin-left: 5px
}
